<!DOCTYPE html>
<html>
<head>
    <title>
        Prime Patterns
    </title>
    <style type="text/css">
        body {
            background-color: #222222; 
            padding: 0 <%= rand(1..100) * 6 %>px;
        }
        div {
            margin:0; 
            padding:0px;
            float: left;
            display: block;
            height: 5px;
            width: 5px;
            background-color: #222222;
            border: 1px solid black;
        }
        .prime {
            background-color: cyan;
            border: 1px solid green;
        }
    </style>
</head>
<body>

    <%19000.times.each do |i|%>
        <%if Prime.prime?(i)%>
            <div class='prime'></div>
        <%else%>
            <div></div>
        <%end%>
    <%end%>

</body>
</html>

<script type="text/javascript">
    
</script>